<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__copyright">© 2023 Dylan Tan</div>
        <div class="footer__socials">
            <a href="mailto:dylantdl96@gmail.com?subject=%5BDylan.Dev%5D%20Message%20from%20Visitor&body=Hello%20there%2C%20I%20am%20reaching%20out%20to%20say%20hello%20and..." class="footer__social">
                <i class="fas fa-envelope-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/dylan-tan-923676176" class="footer__social" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://gitlab.com/dylantdl96" class="footer__social" target="_blank">
                <i class="fab fa-git-square"></i>
            </a>
            <a href="https://www.instagram.com/codelunne/" class="footer__social" target="_blank">
                <i class="fab fa-instagram-square"></i>
            </a>
        </div>
    </div>
</footer>