<nav class="nav">
    <div class="nav__wrapper">
        <div class="nav__logo">
            <a href="/" class="nav__logo-link">
                <img src="./assets/img/globals/site-logo.svg" alt="Dylan dot dev site logo" class="nav__logo-img">
            </a>
        </div>
        <div class="nav__menu">
            <ul class="nav__menu-wrapper">
                <li class="nav__item">
                    <a href="#about" class="nav__link">About Me</a>
                </li>
                <li class="nav__item">
                    <a href="#work" class="nav__link">Work</a>
                </li>
                <li class="nav__item">
                    <a href="#services" class="nav__link">Services</a>
                </li>
                {# <li class="nav__item">
                    <a href="#" class="nav__link">Projects</a>
                </li> #}
                <li class="nav__item">
                    <a class="nav__link contact-link">Contact</a>
                </li>
                <li class="nav__item">
                    <a href="https://drive.google.com/file/d/1MCrjzywNKM6CYqwif9CVrsfUBosvBTIP/view?usp=sharing" target="_blank" class="nav__link">Résumé</a>
                </li>
            </ul>
        </div>
        <a id="menu-toggle" class="nav__hamburger" aria-label="Open the menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</nav>