<div class="popup" id="contactPopup">
    <div class="popup__inner">
        <div class="popup__content">
            {# <div class="popup__close"></div> #}
            <div class="popup__content-left-right">
                <div class="popup__content-left">
                    <div class="popup__content-left-inner">
                        <div class="popup__list">
                            <a class="popup__list-item" style="pointer-events: none;">
                                <span>
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                Selangor / KL / Perak
                            </a>

                            <a href="mailto:dylantdl96@gmail.com?subject=%5BDylan.Dev%5D%20Message%20from%20Visitor&body=Hello%20there%2C%20I%20am%20reaching%20out%20to%20say%20hello%20and..." class="popup__list-item">
                                <span>
                                    <i class="far fa-envelope"></i>
                                </span>
                                dylantdl96@gmail.com
                            </a>

                            <a href="https://www.linkedin.com/in/dylan-tan-923676176" class="popup__list-item" target="_blank">
                                <span>
                                    <i class="fab fa-linkedin-in"></i>
                                </span>
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="popup__content-right">
                <div class="popup__close"></div>
                    <div class="popup__content-right-inner">
                        <div class="popup__content-heading ff-primary">Contact Me</div>
                        <form action="https://api.web3forms.com/submit" method="POST">
                            <div class="popup__content-form">
                                <div class="popup__content-form-heading">
                                    <p>Please fill in the form and I’ll get back within 1-2 days.</p>
                                </div>

                                <div class="popup__content-form-fields">
                                    <div class="popup__content-form-field-inline --stacked-lg">
                                        <input type="text" class="popup__content-form-input" placeholder="Name" name="name" id="name" required/>
                                        <input type="email" class="popup__content-form-input" placeholder="Email" name="email" id="email" required/>
                                    </div>
                                    <div class="popup__content-form-field-inline">
                                        <input type="text" class="popup__content-form-input" placeholder="Subject" name="subject" id="subject" required/>
                                    </div>
                                    <div class="popup__content-form-field-inline">
                                        <textarea  class="popup__content-form-textarea" placeholder="Message" name="message" id="message" rows="4" cols="50"></textarea>
                                    </div>
                                    <div class="popup__content-form-field-inline --flex-end">
                                        <input type="hidden" name="apikey" value="5ade1adc-778b-4054-a2c6-d84a62a21643">
                                        <input type="hidden" name="from_name" value="Dylan Dot Dev via Web3Forms">
                                        {# <input type="hidden" name="subject" value="New Submission from Web3Forms"> #}
                                        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                                        <input type="hidden" name="redirect" value="https://web3forms.com/success">
                                        <button type="submit" class="button button--primary w-100-md">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>