

{% extends "./templates/default.njk" %}
{% block css %}
<link rel="stylesheet" href="./external/slick/slick.css" />
<link rel="stylesheet" href="./external/slick/slick-theme.css" />
{% endblock %}

{% block content %}
    <main>
        <section id="heroSection" class="section container container--hero">
            <span class="text-subheading fw-300 stagger-anim1">Hi, my name is</span>
            <h1 class="display-heading-1 text-white ff-primary fw-700 mt-15 stagger-anim1">Dylan Tan.</h1>
            <h1 class="display-heading-1 text-grey ff-primary fw-700 stagger-anim1">I bring designs to life.</h1>
            <p class="text-paragraph text-paragraph--mw-1 mt-20 stagger-anim1">I'm a Malaysia-based front-end developer who specializes in creating (and sometimes designing) beautiful mobile responsive websites. Currently, I'm a front-end web developer at <a href="https://dropee.com/" target="_blank" class="hyperlink">Dropee</a> focused on striking a balance between functional and aesthetic design.</p>
            <div class="button-group mt-40 mt-30-md stagger-anim1">
                <a class="button button--secondary contact-link">Let's connect</a>
            </div>
        </section>

        <section id="about" class="section section--mh-unset container">
            <div class="d-flex flex-direction-column-md align-items-center justify-content-center">
                <div class="flex__col flex-column">
                    <h2 class="section__heading stagger-anim1">
                        <span class="section__heading-label">01.</span> About Me
                    </h2>

                    <p class="text-paragraph mt-25 text-paragraph--mw-2-desktop stagger-anim1">
                        Hello! My name is Dylan and I enjoy giving life to web designs.<br class="d-none-sm">
                        It brings me great satisfaction to make websites work and look pretty. Don’t judge a <i>book</i> by its <i>cover</i>? The <i>cover</i> is just as important as the entire <i>book</i>.</p>

                    <p class="text-paragraph mt-15 text-paragraph--mw-2-desktop stagger-anim1">
                        My journey as a web developer has allowed me to experience working at a digital agency, a software house, and a start-up. Along the way, I discovered my passion for front-end development and decided to put it to good use.</p>

                    <p class="text-paragraph mt-15 text-paragraph--mw-2-desktop stagger-anim1">Here are some technologies that I’m messing with recently:</p>

                    <ul class="custom-list custom-list--2-cols mt-20 stagger-anim1">
                        <li>Nuxt.js</li>
                        <li>Vue 2/3</li>
                        <li>Nunjucks</li>
                        <li>Angular</li>
                        <li>Nginx</li>
                        <li>Node.js</li>
                    </ul>
                </div>
                <div class="flex__col flex-column mt-50-md ml-35 ml-0-md stagger-anim1">
                    <img src="./assets/img/pages/home/about-me-pp-2.png" alt="Profile picture" class="section__img mb-35">
                </div>
            </div>
        </section>

        <section id="work" class="section container">
            <div class="d-flex">
                <h2 class="section__heading stagger-anim1">
                    <span class="section__heading-label">02.</span> Work Experience
                </h2>
            </div>
            <div class="d-flex flex-direction-column stagger-anim1">
                <div class="tabs mt-40">
                    <input type="radio" name="tab" id="tab1" class="tab__input" checked/><label for="tab1" class="tab__label">Dropee</label><input type="radio" name="tab" id="tab2" class="tab__input"/><label for="tab2" class="tab__label">Fourtitude.Asia</label><input type="radio" name="tab" id="tab3" class="tab__input"/><label for="tab3" class="tab__label">Cake XP</label><input type="radio" name="tab" id="tab4" class="tab__input"/><label for="tab4" class="tab__label">Mate Tech</label><input type="radio" name="tab" id="tab5" class="tab__input"/><label for="tab5" class="tab__label">Freelance</label>

                    <div class="tabs__line-bg d-none-md"></div>
                    <div class="tabs__line d-none-md"></div>

                    <div class="tabs__content">
                        <div class="tab__content" id="c1">
                            <h3 class="text-white fw-400">Front End Developer <span class="text-grey">@</span>
                                <span class="text-primary-blue fw-700"><a href="https://dropee.com/" target="_blank">Dropee</a></span></h3>
                            <p>May 2021 - July 2023 <small>(2 years 3 months)</small></p>
                            <ul class="custom-list mt-25">
                                <li>Design and develop visual and information solutions based on user centric approach.</li>
                                <li>Measure and optimize user experience to increase conversion</li>
                                <li>Tailoring user experience across variations of user environment and device</li>
                                <li>Bringing a designer’s concept to live</li>
                                <li>Production, modification, and maintenance of websites and web application user interfaces</li>
                                <li>Maintaining software workflow management with a project management tool like GitHub and task runners like Grunt and Gulp</li>
                                <li>Consulting on SEO best practices</li>
                                <li>Guiding juniors and advising other developers in regards to front-end coding</li>
                            </ul>
                        </div>
                        <div class="tab__content" id="c2">
                            <h3 class="text-white fw-400">Front End Developer <span class="text-grey">@</span>
                                <span class="text-primary-blue fw-700"><a href="https://www.fourtitude.asia/" target="_blank">Fourtitude.Asia</a></span></h3>
                            <p>May 2020 - May 2021 <small>(1 year)</small></p>
                            <ul class="custom-list mt-25">
                                <li>Develop responsive web applications based on given designs using HTML, CSS, and JavaScript, as well as with MVP/MVC frameworks such as Angular.</li>
                                <li>Handle maintenance of websites such as content updates and promotional page development.</li>
                                <li>Work closely with designers and back-end programmers and understand the processes and requirements.</li>
                            </ul>
                        </div>
                        <div class="tab__content" id="c3">
                            <h3 class="text-white fw-400">Web Developer <span class="text-grey">@</span>
                                <span class="text-primary-blue fw-700"><a href="https://www.cakexp.com/" target="_blank">Cake XP</a></span></h3>
                            <p>June 2018 - May 2020 <small>(2 years)</small></p>
                            <ul class="custom-list mt-25">
                                <li>Converted mock-ups into working responsive websites and progressive web applications with HTML, CSS, JavaScript, AJAX and JSON.</li>
                                <li>Built and styled numerous new mobile-friendly websites and transitioned old site into mobile-friendly version with WordPress.</li>
                                <li>Used programming capabilities in PHP, MySQL, JavaScript and ActionScript 3 and other libraries as needed.</li>
                                <li>Designed mobile responsive sites to be compatible with top browsers, including Chrome, Firefox and Safari.</li>
                                <li>Used various technologies, including JavaScript and PHP to make code repairs and optimize corporate website.</li>
                                <li>Tested websites via SIT and UAT and performed troubleshooting prior to deployment.</li>
                                <li>Created documentation and provided end-user training for website maintenance and updating.</li>
                            </ul>
                        </div>
                        <div class="tab__content" id="c4">
                            <h3 class="text-white fw-400">Software Engineer Intern <span class="text-grey">@</span>
                                <span class="text-primary-blue fw-700">Mate Tech</span></h3>
                            <p>Jan 2017 - May  2017 <small>(5 months)</small></p>
                            <ul class="custom-list mt-25">
                                <li>Technologies used: HTML5, CSS3, Bootstrap framework, JavaScript, jQuery, MySQL, PHP.</li>
                                <li>Developed and implemented modules for a MLM network marketing game.</li>
                                <li>Designed & developed web pages and implemented an e-Commerce web application.</li>
                                <li>Performed system testing for arithmetic error and validation checking on completed projects.</li>
                            </ul>
                        </div>
                        <div class="tab__content" id="c5">
                            <h3 class="text-white fw-400">Web Developer <span class="text-grey">@</span>
                                <span class="text-primary-blue fw-700">Freelance</span></h3>
                            <p>May 2018 - Present</p>
                            <ul class="custom-list mt-25">
                               <li>Converted mock-ups into working responsive websites with HTML, CSS, JavaScript</li>
                               <li>Managed and maintained an e-Commerce site based in Singapore powered by WooCommerce</li>
                               <li>Created numerous mobile-friendly web pages for a data intelligence crypto platform</li>
                               <li>Developed several responsive landing pages for a job recruiting app.</li>
                               <li>Built a single-page website to promote hackathon event</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="services" class="section section--mh-unset container">
            <div class="d-flex">
                <h2 class="section__heading stagger-anim1">
                    <span class="section__heading-label">03.</span> Services
                </h2>
            </div>
            <div class="d-flex flex-direction-column-md cards mt-25">
                <div class="card stagger-anim1">
                    <div class="card__inner">
                        <img src="./assets/img/pages/home/services-01.svg" alt="" class="card__img">
                        <h3 class="text-white text-center fw-400 mt-25">Web Design</h3>
                        <p class="text-paragraph mt-15">Planning, conceptualizing, and arranging content for your website. Typically, a mockup design of your website will be made before going into development</p>
                    </div>
                </div>
                <div class="card stagger-anim1">
                    <div class="card__inner">
                        <img src="./assets/img/pages/home/services-02.svg" alt="" class="card__img">
                        <h3 class="text-white text-center fw-400 mt-25">Web Development</h3>
                        <p class="text-paragraph mt-15">Bringing designs to life in the form of mobile responsive websites such as simple static web pages to content management systems (CMS) like WordPress</p>
                    </div>
                </div>
                <div class="card stagger-anim1">
                    <div class="card__inner">
                        <img src="./assets/img/pages/home/services-03.svg" alt="" class="card__img">
                        <h3 class="text-white text-center fw-400 mt-25">Site Maintenance</h3>
                        <p class="text-paragraph mt-15">Ensuring your website is functioning properly and up to date via content updates or bug fixing or centering that <code>&#60;div&#62;</code></p>
                        {# <p class="text-paragraph mt-15">Existing developer gone MIA? Fret not.</p> #}
                    </div>
                </div>
                {# <div class="card">
                    <div class="card__inner">
                        <img src="./assets/img/pages/home/services-03.svg" alt="" class="card__img">
                        <h3 class="text-white text-center fw-400 mt-25">Live Streaming</h3>
                        <p class="text-paragraph mt-15">Managing and hosting live streams on a budget can be a hassle. I cover simple streams that require displaying dynamic content live and managing your audience in the chat.</p>
                    </div>
                </div> #}
            </div>
        </section>

        <section id="contact" class="section section--mh-unset container">
            <div class="d-flex flex-direction-column align-items-center justify-content-center stagger-anim1">
                <h2 class="section__heading">
                    <span class="section__heading-label">04.</span> Contact
                </h2>
                <h3 class="text-white text-center fw-400 mt-25">I'm available for freelance opportunities</h3>
                <p class="text-paragraph text-center text-paragraph--mw-1 mt-15">Have an exciting project that you need some help with? Drop me a message and let's talk more.</p>
                <div class="button-group mt-30 mt-20-md">
                    <a class="button button--secondary contact-link">Let's connect</a>
                </div>
            </div>
            
        </section>
    </main>
{% endblock %}

{% block script %}
<script defer type="text/javascript" src="./external/slick/slick.min.js"></script>
{% endblock %}

{% block inlinescript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.cards').slick({
            slidesToShow: 3,
            dots: false,
            infinite: false,
            cssEase: 'ease',
            responsive: [
                {
                    breakpoint: 835,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 641,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                }
            ]
        });
    });

    $(window).resize(function(){
        $('.cards')[0].slick.refresh();
    });

    // Add delay so that start and end markers are rendered correctly
    setTimeout(function(){

        var tl_nav = gsap.timeline();

        var tl_hero = gsap.timeline({
            scrollTrigger: {
                trigger: '#heroSection',
                //markers: true,
                start: 'top center',
                toggleActions: "restart none restart reverse"
            },
        });
        
        var tl_about = gsap.timeline({
            scrollTrigger: {
                trigger: '#about',
                //markers: true,
                start: 'top center',
                toggleActions: "restart none restart reverse"
            },
        });

        var tl_work = gsap.timeline({
            scrollTrigger: {
                trigger: '#work',
                //markers: true,
                start: 'top center',
                toggleActions: "restart none restart reverse"
            },
        });

        var tl_services= gsap.timeline({
            scrollTrigger: {
                trigger: '#services',
                //markers: true,
                start: 'top 80%',
                toggleActions: "restart none restart reverse"
            },
        });

        var tl_contact= gsap.timeline({
            scrollTrigger: {
                trigger: '#contact',
                //markers: true,
                start: 'top center',
                toggleActions: "restart none restart reverse"
            },
        });
        
        var tl_footer = gsap.timeline({
            scrollTrigger: {
                trigger: 'footer',
                //markers: true,
                start: 'top bottom',
                toggleActions: "restart none restart reverse"
            },
        });


        tl_nav.from("nav .nav__logo, #menu-toggle", {
            opacity: 0, 
            duration: .5, 
            y: -50,
            delay: 5,
            stagger: .05,
            ease: 'circ.out',
            onComplete: function() {
                if ($(window).width() <= 768) {
                // When nav logo and menu toggle on mobile is complete, unhide Hero Section
                    $('#heroSection').css({
                        'opacity': 1
                    });
                    
                    tl_hero.from("#heroSection .stagger-anim1", {
                        opacity: 0, 
                        duration: 1, 
                        y: 50,
                        stagger: function(index, target, list) {
                            return index * 0.1;
                        },
                        ease: 'power4.out',
                    });

                    // Enable body scroll again by removing inline style of overflow: auto
                    $('html, body').removeAttr("style");
                }
            }
        })

        if ($(window).width() > 768) {
            // Run the following timeline if screen width > 768px
            tl_nav.from("nav .nav__item", {
                opacity: 0, 
                duration: .5, 
                y: -50, 
                stagger: function(index, target, list) {
                    return index * 0.15;
                },
                ease: 'circ.out',
                onComplete: function() {
                    // When nav items on desktop is complete, unhide Hero Section
                    $('#heroSection').css({
                        'opacity': 1
                    });
                    
                    tl_hero.from("#heroSection .stagger-anim1", {
                        opacity: 0, 
                        duration: 1, 
                        y: 50,
                        stagger: function(index, target, list) {
                            return index * 0.1;
                        },
                        ease: 'power4.out',
                    });
                    // Enable body scroll again by removing inline style of overflow: auto
                    $('html, body').removeAttr("style");
                }
            });
        }

        tl_about.from("#about .stagger-anim1", {
            opacity: 0, 
            duration: 1,
            y: 50,
            stagger: function(index, target, list) {
                // your custom logic here. Return the delay from the start (not between each)
                return index * 0.15;
            },
            ease: 'power4.out'
        });

        tl_work.from("#work .stagger-anim1", {
            opacity: 0, 
            duration: 1, 
            y: 50,
            stagger: function(index, target, list) {
                return index * 0.1;
            },
            ease: 'power4.out'
        })

        tl_services.from("#services .stagger-anim1", {
            opacity: 0, 
            duration: 1, 
            y: 50,
            stagger: function(index, target, list) {
                return index * 0.1;
            },
            ease: 'power4.out'
        })

        tl_contact.from("#contact .stagger-anim1", {
            opacity: 0, 
            duration: 1, 
            y: 50,
            stagger: function(index, target, list) {
                return index * 0.1;
            },
            ease: 'power4.out'
        })

        tl_footer.from("footer .footer__copyright, footer .footer__social", {
            opacity: 0, 
            duration: .5, 
            y: -50,
            stagger: .05,
            ease: 'circ.out'
        });
    }, 500);
</script>
{% endblock %}