{% set page_title = "Links" %}
{% extends "./templates/default-linktree.njk" %}

{% block content %}
    <main>
        <section id="linktree" class="section section--mh-unset container section--linktree">
            <div class="d-flex flex-direction-column justify-content-center align-items-center">
                <a href="/">
                    {# <img src="./assets/img/globals/site-logo.svg" alt="" style="width: 4.5rem"/> #}
                    <img src="./assets/img/pages/linktree/ig_dp.jpg" alt="" style="width: 6.5rem; border-radius: 50%;"/>
                </a>
                <h2 class="section__heading stagger-anim1 d-flex justify-content-center align-items-center mt-20">
                    <span class="section__heading-label">@</span>tdl96
                </h2>
            </div>
            <div class="d-flex flex-direction-column justify-content-center align-items-center mt-25" style="gap: 1rem">
                <a href="https://dylantan.dev/" class="button button--secondary button--icon w-100">
                    <i class="fas fa-window-maximize mr-5"></i>Check out my site!</a>
                <a href="https://www.linkedin.com/in/dylan-tan-923676176" class="button button--secondary button--icon w-100">
                    <i class="fab fa-linkedin-in mr-5"></i>LinkedIn</a>
                <a href="https://gitlab.com/dylantdl96" class="button button--secondary button--icon w-100">
                    <i class="fab fa-gitlab mr-5"></i>GitLab</a>
                <a href="mailto:dylantdl96@gmail.com?subject=%5BHelo%5D%20Message%20from%20IG&body=Hello%20there%2C%20I%20am%20reaching%20out%20to%20say%20hello%20and..." class="button button--secondary button--icon w-100">
                    <i class="fas fa-inbox mr-5"></i>Email</a>
                <a class="button button--secondary button--icon w-100">
                    <i class="fas fa-spinner"></i></i>More coming soon</a>
            </div>
        </section>
    </main>
{% endblock %}

{% block inlinescript %}
    <script type="text/javascript"></script>
{% endblock %}