{% set page_title = "Style Guide" %}
{% extends "./templates/default-style-guide.njk" %}
{% block content %}
    <main>
        <section class="container">
            <h1>Style Guide</h1>
            <h2 class="text-black fw-400">Typography</h2>
            <div class="d-flex justify-content-space-between">
                <div class="col">
                    <h3 class="text-primary-blue fw-400">Roboto</h3>

                    <h1>H1: Roboto, 48px</h1>
                    <h2>H2: Roboto, 36px</h2>
                    <h3>H3: Roboto, 28px</h3>
                    <h4>H4: Roboto, 18px</h4>
                    <h5>H5: Roboto, 16px</h5>
                </div>
                <div class="col">
                    <h3 class="text-primary-blue fw-400">Horatio D</h3>

                    <h1 class="ff-primary">H1: Horatio D, 48px</h1>
                    <h2 class="ff-primary">H2: Horatio D, 36px</h2>
                    <h3 class="ff-primary">H3: Horatio D, 28px</h3>
                    <h4 class="ff-primary">H4: Horatio D, 18px</h4>
                    <h5 class="ff-primary">H5: Horatio D, 16px</h5>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="flex">
                <div class="col">
                    <h3 class="text-black fw-400">Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quia sunt, voluptatem sequi distinctio enim omnis vero officiis deserunt itaque quidem nulla molestiae a dolor maiores rerum obcaecati alias molestias?</p>
                </div>
            </div>
        </section>
        <section class="container">
            <h2 class="text-black fw-400">Color Palette</h2>
            <div class="d-flex  justify-content-space-between">
                <div class="col">
                    <div class="color-palette">
                        <div class="color-palette__fill color-palette__fill--primary"></div>
                        <div class="color-palette__hexcode">HEX: <span class="color-palette__hexcode-value">#009AFF</span></div>
                        <div class="color-palette__name">Primary, Buttons</div>
                    </div>
                </div>
                <div class="col">
                    <div class="color-palette">
                        <div class="color-palette__fill color-palette__fill--white"></div>
                        <div class="color-palette__hexcode">HEX: <span class="color-palette__hexcode-value">#F1FAFF</span></div>
                        <div class="color-palette__name">Headings</div>
                    </div>
                </div>
                <div class="col">
                    <div class="color-palette">
                        <div class="color-palette__fill color-palette__fill--grey"></div>
                        <div class="color-palette__hexcode">HEX: <span class="color-palette__hexcode-value">#7792BC</span></div>
                        <div class="color-palette__name">Body text</div>
                    </div>
                </div>
                <div class="col">
                    <div class="color-palette">
                        <div class="color-palette__fill color-palette__fill--navy-blue"></div>
                        <div class="color-palette__hexcode">HEX: <span class="color-palette__hexcode-value">#002369</span></div>
                        <div class="color-palette__name">Navy blue?</div>
                    </div>
                </div>
                <div class="col">
                    <div class="color-palette">
                        <div class="color-palette__fill color-palette__fill--bg-blue"></div>
                        <div class="color-palette__hexcode">HEX: <span class="color-palette__hexcode-value">#001643</span></div>
                        <div class="color-palette__name">Body background </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <h2 class="text-black fw-400">Buttons</h2>
            <div class="d-flex justify-content-flex-start">
                <button class="button button--primary">Button Primary</button>
                <button class="button button--secondary">Button Secondary</button>
            </div>
        </section>
    </main>
{% endblock %}