<!DOCTYPE html>
<html lang="en">
{% set site_name = "Dylan.Dev" %}
{% include "./partials/header.njk" %}

<body class="bg-white">

  {% block content %}{% endblock %}

  {% include "./partials/footer.njk" %}

</body>
</html>
