<!DOCTYPE html>
<html lang="en">
{% set site_name = "Dylan Tan | Front-End Developer" %}
{% set site_description = "I'm a front-end developer based in Malaysia who's passionate about creating (and sometimes designing) beautiful mobile responsive websites." %}
{% set site_url = "https://dylantan.dev" %}
{% set site_img = "https://dylantan.dev/assets/img/globals/dylantandev_site_image.png" %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>{% if page_title|length %} {{ page_title }} | {{ site_name }} {% else %} {{ site_name }} {% endif %}</title>
  <!-- Primary Meta Tags -->
  <meta name="title" content="{{ site_name }}">
  <meta name="description" content="{{ site_description }}">

  <!-- Twitter-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@twitter">
  <meta name="twitter:url" content="{{ site_url }}">
  <meta name="twitter:title" content="{{ site_name }}">
  <meta name="twitter:description" content="{{ site_description }}">
  <meta name="twitter:image" content="{{ site_img }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site_url }}">
  <meta property="og:title" content="{{ site_name }}">
  <meta property="og:site_name" content="{{ site_url }}">
  <meta property="og:description" content="{{ site_description }}">
  <meta property="og:image" content="{{ site_img }}">
  <meta property="og:locale" content="en_US">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
  <link rel="manifest" crossorigin="use-credentials" href="./assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="./assets/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="./assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  {% block css %}
  
  {% endblock%}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./styles.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EXTFD96YM5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EXTFD96YM5');
  </script>
</head>
<body>
  {% block content %}{% endblock %}  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/CSSRulePlugin.min.js" integrity="sha512-Aa3UvVB5yhH/dNXMt8nGZDD15Xmntq1ODcavfgT8omSLaomrJKYybWczzc6UJYDUAdqR1hmDJ47V4Ux50PPIuw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js" integrity="sha512-5efjkDjhldlK+BrHauVYJpbjKrtNemLZksZWxd6Wdxvm06dceqWGLLNjZywOkvW7BF032ktHRMUOarbK9d60bg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% block script %}
  {% endblock %}
  {# <script src="./script.js"></script> #}
  {% block inlinescript %}
  {% endblock %}
</body>
</html>
